# Managed by chezmoi
# Install with: brew bundle --file "$HOME/Brewfile"

brew "chezmoi"
brew "fish"
brew "mise"
brew "neovim"
brew "starship"
brew "zellij"

brew "bat"
brew "eza"
brew "fd"
brew "fzf"
brew "git"
brew "jq"
brew "lazygit"
brew "ripgrep"
brew "sqlite"
brew "stow"
brew "tree"
brew "wget"
brew "zoxide"
brew "television"
brew "atuin"
brew "just"

{{- if eq .chezmoi.os "darwin" }}
cask "font-jetbrains-mono-nerd-font"
cask "ghostty"
cask "raycast"
{{- else }}
brew "ghostty"
{{- end }}
